<%= render 'shared/navbar' %>
<section class="mb-5 mt-4">
    <div class="container">
        <h2 class="mb-4"><%= @post.title %></h2>
        <p><%= @post.content %></p>
         <h6><strong><%= @post.comments.count %></strong> comments</h6>
         <br>
         <div class="row">
            <div class="col-12">
                <%= render @post.comments %>
            </div>
         </div>
        <hr class="my-3">
        <%= render 'shared/commentForm' %>
    </div>
</section>